@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Inter:wght@300;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap);

header {
    background-color: #726966;
    width: 100%;
    height: 118px;
    position: fixed;
    z-index: 3;
    display: table;
}

body {
    margin: 0;
    padding: 0;
    border: 10px;
    background-color: #463f3a;
}


.logo {
    text-align: center;
    margin-top: 8px;
    border-bottom: black;
}


.menu ul {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 2px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;

}

.menu ul li a {
    text-decoration: none;
    display: flex;
    margin: 0;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 0.9rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.menu ul li a:hover {
    text-decoration: none;
    color: #bcb8b1;
}


.menu a.active {
    color: #bcb8b1;
    font-weight: bold;

}

.a {
    text-decoration: none;
}
main {
    padding-top: 50px;
}

.banner1 {
    text-align: center;
    display: flow;
    background: url("img/banner1.jpg") no-repeat center;
    background-size: cover;
    min-height: 100px;
    max-width: 100%;
    padding: 250px 0;

}

.blockquote {
    font-family: 'EB Garamond', serif;
    text-align: center;
    display: inline-flex;
}

.banner1 blockquote q {
    color: #ffffff;
    font-size: 3rem;
    display: block;
}

.banner1 blockquote cite a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    font-size: 1.5rem;
}

.albums {
    margin-top: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.albums h2 {
    font-size: 1.5em;
    text-align: center;
}

.albums ul {
    margin-top: 40px;
    padding: 0;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    font-size: 0.8em;
}


.about-us {
    text-align: center;
    background-color: #a89176;
    color: white;
    margin: 50px 80px 0;
    padding: 1px 20px 10px;
    outline: 2px solid black;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

.about-us h2{
    font-size: 1.5em;
}

.about-us p{
    font-size: 1em;
    word-break: normal;
    text-indent: 20px;
    word-spacing: normal;
    font-weight: normal;
    line-height: 120%;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #737373;
    font-family: 'Inter', sans-serif;
    font-size: 0.8em;
    color: white;
}

.shipping {
    height: 68vh;
}

.shipping-table {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #3a3a3a;
    font-size: 1em;
}

.shipping-table-row {
    display: flex;
    width: 100%;
}

.shipping-table-cell {
    flex: 3;
    padding: 10px;
    border: 1px solid dimgray;
    height: 30px;
}


@media screen and (max-width: 1200px) {
    header {
        height: 50px;
    }

    .menu ul li a {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 15px;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 750px) {
    header {
        height: 40px;
    }

    .menu ul li a {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .banner1 blockquote q {
        font-size: 2em;
    }

    .banner1 blockquote cite a {
        font-size: 1em;
    }

    .shipping-table{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1100px) {
    .albums ul {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .albums ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .albums ul {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    header {
        height: 30px;
    }

    .menu ul li a {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        font-size: 0.5em;
    }

    .logo img{
        height: 50px;
        width: 120px;
    }

}




